# Xcode
#
# gitignore contributors: remember to update Xcode.global.gitignore with your
# changes simultaneously! Exceptions:
# 1. Timestamps.
# 2. Files that should be shared among all projects.

## User-specific files
*.xcuserdatad/
*.xccheckout
*.xcodeproj/xcshareddata/xcschemes/ # Schemes can be shared, but sometimes per-user copies are made
*.xcodeproj/project.xcworkspace/

## User-specific settings
xcuserdata/

## Build Yroducts
build/
DerivedData/
*.app
*.ipa

## CocoaPods
Pods/
Podfile.lock # Often committed, but can be ignored if everyone runs `pod install`
# If you're checking in Pods, then you might want to ignore only certain Pod subdirectories.

## Swift Package Manager
.swiftpm/build/
Packages/ # If you don't commit dependencies resolved by SPM

## Carthage
Carthage/Build
Carthage/Checkouts

## Accidental additions
*.dSYM/
*.moved-aside
*.ipa.dSYM/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
fastlane/screenshots
fastlane/logs

# Localisation files
*.strings # If they are generated or you prefer to keep them out of git for some reason