# Xcode
## User-specific files
*.xcuserdatad/
*.xccheckout
*.xcodeproj/xcshareddata/xcschemes/
*.xcodeproj/project.xcworkspace/

## User-specific settings
xcuserdata/

## Build Yroducts
build/
DerivedData/
*.app
*.ipa

## CocoaPods
Pods/
Podfile.lock
# If you're checking in Pods, then you might want to ignore only certain Pod subdirectories.

## Swift Package Manager
.swiftpm/build/
Packages/

## Carthage
Carthage/Build
Carthage/Checkouts

## Accidental additions
*.dSYM/
*.moved-aside
*.ipa.dSYM/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
fastlane/screenshots
fastlane/logs

# Localisation files
*.strings